.container {
    width: 100%;
    height: auto;

    h1 {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .table-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 20px 70px;

        .table,
        .form-wrap {
            margin: 30px;
            empty-cells: hide;
        }

        .table {
            font-family: arial, sans-serif;

            width: 100%;
            padding: 5px;
            background-color: rgb(73, 102, 121);

            .tbody {
                width: 100%;

                .tr {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    margin: 5px 0;

                    a {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 90%;
                        padding: 10px 0;
                        background-color: rgb(232, 237, 255);
                        border-radius: 5px;
                        text-decoration: none;
                        color: black;
                        // transition: .1s linear;



                        .td {
                            text-align: center;
                            min-width: 150px;
                            font-size: 15px;
                            // transition: .1s linear;

                        }

                        .td-id {
                            min-width: 50px;
                            background-color: rgba(185, 201, 254, 0.5);
                        }

                        .text-content {
                            width: 40%;
                        }
                    }



                    .thd4 {
                        visibility: hidden;
                        width: 60px;



                        a {
                            color: rgb(85, 0, 0);
                            padding: 10px;
                        }
                    }

                    .td {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        min-width: 150px;
                        padding: 10px auto;
                        background-color: rgb(232, 237, 255);
                        text-decoration: none;
                        color: black;

                        text-align: center;
                        // min-width: 150px;
                        font-size: 15px;
                    }

                    // .td-id {
                    //     min-width: 50px;
                    //     background-color: rgba(185, 201, 254, 0.5);
                    // }
                }




                .Unread {
                    a {
                        background-color: rgb(0, 58, 92);

                        .td {
                            font-weight: 700;
                            color: whitesmoke;
                            background-color: rgb(0, 58, 92);

                            // a {
                            //     color: whitesmoke;

                            // }
                        }
                    }
                }

                .Read {
                    a {
                        background-color: rgb(232, 237, 255);


                        .td {

                            font-weight: 300;


                            // a {
                            //     text-decoration: none;
                            //     color: black;
                            // }
                        }
                    }
                }

                .Read:hover,
                .Unread:hover {
                    a {
                        background-color: rgb(0, 58, 92);

                        .td {
                            background-color: rgb(0, 58, 92);
                            color: whitesmoke;

                            a {
                                color: whitesmoke;
                            }

                        }
                    }

                    .thd4 {

                        visibility: visible;


                        a {
                            color: rgb(219, 0, 0);

                        }
                    }
                }
            }
        }

        table {
            font-family: arial, sans-serif;
            // border-collapse: collapse;
            width: 100%;
            padding: 5px;
            border-radius: 10px;
            background-color: rgb(185, 201, 254);
            empty-cells: hide;



            thead {
                tr {
                    background-color: rgb(185, 201, 254);


                    th {
                        text-align: center;
                    }
                }
            }

            tr {
                margin: 5px 0;
                // background-color: rgb(185, 201, 254);
                background-color: rgb(232, 237, 255);
                transition: .1s linear;

                td,
                th {
                    width: auto;
                    border: 1px solid rgba(221, 221, 221, 0.199);
                    text-align: left;
                    padding: 8px;
                    border-radius: 5px;


                }

                td {

                    text-align: center;
                    min-width: 150px;

                    font-size: 15px;
                }

                .td-id {
                    min-width: 50px;
                    background-color: rgba(185, 201, 254, 0.5);
                }


                .text-content {
                    width: 40%;
                }

                .width-auto {
                    min-width: 10px
                }

            }









        }


        .small {
            width: 50%;
        }

        .form-wrap {
            min-width: 300px;

            form {
                border: 1px solid grey;
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                padding: 20px 50px;
                margin-bottom: 50px;

                h3 {
                    color: rgb(97, 97, 97);
                    padding: 5px 0;
                }

                .form-group {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 3px;
                    width: 100%;

                    label {
                        .span-alert {
                            font-size: 16px;
                            color: red;
                            ;
                        }
                    }

                    select,
                    input,
                    textarea {
                        width: 100%;
                        padding: 5px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }



                    input[type=submit] {
                        align-self: center;
                        width: auto;
                        padding: 6px 10px;
                        border: none;
                        border-radius: 5px;
                        background-color: rgb(0, 140, 255);
                        color: rgb(255, 255, 255);

                    }
                }

            }
        }


    }
}

@media(max-width:650px) {
    .container {




        .table-wrap {

            padding: 20px 10px;





            // .small {
            //     width: 50%;
            // }

            // .form-wrap {
            //     min-width: 300px;

            //     form {
            //         border: 1px solid grey;
            //         border-radius: 5px;
            //         background-color: rgb(255, 255, 255);
            //         padding: 20px 50px;
            //         margin-bottom: 50px;

            //         h3 {
            //             color: rgb(97, 97, 97);
            //             padding: 5px 0;
            //         }

            //         .form-group {
            //             padding: 3px;
            //             width: 100%;



            //             select,
            //             input {
            //                 width: 100%;
            //                 padding: 5px;
            //                 margin-top: 5px;
            //                 margin-bottom: 10px;
            //             }



            //             input[type=submit] {
            //                 width: 40%;
            //                 padding: 6px 10px;
            //                 border: none;
            //                 border-radius: 5px;
            //                 background-color: rgb(0, 140, 255);
            //                 color: rgb(255, 255, 255);

            //             }
            //         }

            //     }
            // }


        }
    }
}

@media(max-width:500px) {
    .container {

        .table-wrap {
            padding: 0;

            .table {
                margin: 0;

                .tbody {

                    .tr {

                        a {


                            .td {
                                text-align: left;
                                min-width: 100px;
                                font-size: 12px;
                            }

                            .td-id {
                                min-width: 50px;
                            }

                            // .text-content {
                            //     width: 40%;
                            // }
                        }

                        .thd4 {
                            width: auto;
                            height: auto;

                            a {
                                font-size: 12px;
                            }
                        }
                    }





                }
            }

            // .small {
            //     width: 50%;
            // }

            // .form-wrap {
            //     min-width: 300px;

            //     form {
            //         border: 1px solid grey;
            //         border-radius: 5px;
            //         background-color: rgb(255, 255, 255);
            //         padding: 20px 50px;
            //         margin-bottom: 50px;

            //         h3 {
            //             color: rgb(97, 97, 97);
            //             padding: 5px 0;
            //         }

            //         .form-group {
            //             padding: 3px;
            //             width: 100%;



            //             select,
            //             input {
            //                 width: 100%;
            //                 padding: 5px;
            //                 margin-top: 5px;
            //                 margin-bottom: 10px;
            //             }



            //             input[type=submit] {
            //                 width: 40%;
            //                 padding: 6px 10px;
            //                 border: none;
            //                 border-radius: 5px;
            //                 background-color: rgb(0, 140, 255);
            //                 color: rgb(255, 255, 255);

            //             }
            //         }

            //     }
            // }


        }
    }
}

@media(max-width:375px) {
    .container {

        .table-wrap {


            .table {



                .tbody {

                    .tr {

                        a {
                            .td {
                                min-width: 100px;
                                font-size: 10px;
                            }

                            .td-id {
                                min-width: 50px;
                            }

                            // .text-content {
                            //     width: 40%;
                            // }
                        }

                        .thd4 {
                            width: auto;
                            height: auto;

                            a {
                                font-size: 12px;
                            }
                        }
                    }





                }
            }

            // .small {
            //     width: 50%;
            // }

            // .form-wrap {
            //     min-width: 300px;

            //     form {
            //         border: 1px solid grey;
            //         border-radius: 5px;
            //         background-color: rgb(255, 255, 255);
            //         padding: 20px 50px;
            //         margin-bottom: 50px;

            //         h3 {
            //             color: rgb(97, 97, 97);
            //             padding: 5px 0;
            //         }

            //         .form-group {
            //             padding: 3px;
            //             width: 100%;



            //             select,
            //             input {
            //                 width: 100%;
            //                 padding: 5px;
            //                 margin-top: 5px;
            //                 margin-bottom: 10px;
            //             }



            //             input[type=submit] {
            //                 width: 40%;
            //                 padding: 6px 10px;
            //                 border: none;
            //                 border-radius: 5px;
            //                 background-color: rgb(0, 140, 255);
            //                 color: rgb(255, 255, 255);

            //             }
            //         }

            //     }
            // }


        }
    }
}